header {
    height: 30%;
    background-color: #e0a0a0;
}

div.text::first-line {
    color: #000000;
}

div.text {
    border: 1px solid #000000;
    width: fit-content;
    padding:5px ;
    font-family: monospace;
    font-size: 18px;
}
div.text > p {
    padding: 5px;
}

div.row {
    padding: 10px;
}

div.submit {
    padding: 10px;
}

table {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

div.main-form{
    background-color: #f5dede;
}
#res_table{
    width: 100%;
}
#errorOut{
    border: 1px solid #000000;
    height: 200px;
}
#errorOut > p{
    padding: 10px;
}
#right_bar{
    float: right;
    width: 75%;
}
#center{
    height:50%;
}
#img{
    float: left;
    height: 310px;
    width: 310px;
}
#outContainer{
    height:20%;
}
body{
    height:600px;
}
div.clear_session{
    padding: 8px;
}
#res_table > td{
    width: 20px;
}
input[type='text'] {
    border-radius: 10px;
    border: 1px solid black;
}
input[type='radio']:checked + label {
    background-color:#bfb;
    border-color: #4c4;
}